<form #smartphoneForm="ngForm">

	<div class="form-row">
		<div class="form-group col">
			<label>Marca</label>
			<input class="form-control" placeholder="Insira a marca" name="brand" [(ngModel)]="smartphone.brand" minlength="2"
				maxlength="255" required>
		</div>

		<div class="form-group col">
			<label>Modelo</label>
			<input class="form-control" placeholder="Insira o modelo" name="model" [(ngModel)]="smartphone.model"
				minlength="2" maxlength="255" required>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col">
			<label class="d-block">Preço</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">R$</span>
				</div>
				<input class="form-control" name="price" pattern="[0-9]+" #price="ngModel" [(ngModel)]="smartphone.price"
					[ngClass]="{ 'is-invalid': price.touched && price.errors }" required />

				<div *ngIf="price.touched && price.errors" class="invalid-feedback">
					<div *ngIf="price.errors"><span i18n>Valor inváido.</span></div>
				</div>
			</div>

		</div>
		<div class="form-group col">
			<label>Cor</label>
			<select class="custom-select" name="analizysType" [(ngModel)]="smartphone.color">
				<option value="BLACK" selected>Preto</option>
				<option value="WHITE">Branco</option>
				<option value="GOLD">Dourado</option>
				<option value="PINK">Rosa</option>
			</select>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col">
			<label>Data de lançamento</label>
			<input type="date" class="form-control" #startDate="ngModel" placeholder="Insira a data" name="date"
				[ngClass]="{ 'is-invalid': startDate.touched && startDate.errors }" [(ngModel)]="smartphone.startDate" required>

			<div *ngIf="startDate.touched && startDate.errors" class="invalid-feedback">
				<div *ngIf="startDate.errors"><span i18n>a.</span></div>
			</div>
		</div>

		<div class="form-group col">
			<label>Data de fim das vendas</label>
			<input type="date" class="form-control" #endDate="ngModel" placeholder="Insira a data" name="date"
				[ngClass]="{ 'is-invalid': endDate.touched && endDate.errors }" [(ngModel)]="smartphone.endDate" required>
		</div>
		<div *ngIf="endDate.touched && endDate.errors || endDate < startDate" class="invalid-feedback">
			<div *ngIf="endDate.errors"><span i18n>Inválido.</span></div>
		</div>

	</div>

	<div class="form-group">
		<label>Foto</label>
		<input class="form-control" #picture="ngModel" placeholder="Insira a URL da foto" name="photo" maxlength="255"
			pattern="https?://.+" [(ngModel)]="smartphone.photo"
			[ngClass]="{ 'is-invalid': picture.touched && picture.errors }" required>

		<div *ngIf="picture.touched && picture.errors" class="invalid-feedback">
			<div *ngIf="picture.errors"><span i18n>Insira uma URL válida.</span></div>
		</div>
	</div>

	<div class="col text-center">
		<img class="card-img-top mt-1 m-auto" *ngIf="smartphone.photo" [src]="smartphone.photo"
			alt="Imagem do celular {{smartphone.brand}} - {{smartphone.model}}">
	</div>

	<div class="col" *ngIf="globals.config.configurationJSONExibition.showJSONPreview">
		<h4>Resultado esperado do retorno da API</h4>
		<pre class="json-container">{{smartphone | json}}</pre>
	</div>

</form>