<div class="modal-header animated slideInDow">
  <h4 class="modal-title" i18n>Configurações da aplicação</h4>
  <button type="button" class="close " (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body mx-2">
  <p>
    Configurações relacionadas à comportamentos de componentes, a fim de mostrar várias formas de realizar as
    ações da aplicação.
  </p>

  <form #configForm="ngForm">

    <div class="custom-control custom-checkbox m-t-10">
      <input type="checkbox" class="custom-control-input" id="showJSONPreview" name="showJSONPreview"
        [(ngModel)]="preferenceConfig.showJSONPreview" required>
      <label class="custom-control-label" for="showJSONPreview" i18n>
        <span>Habilitar JSON preview</span>
      </label>
    </div>
    <br>

    <div class="form-group column">
      <select class="custom-select" name="userType" [(ngModel)]="preferenceConfig.registerType">
        <option value="MODAL">Manipular smartphone através de modal</option>
        <option value="ROUTE">Manipular smartphone através de rotas</option>
      </select>
    </div>
  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger col" (click)="close()">Cancelar</button>
  <button type="button" class="btn btn-outline-danger col" (click)="saveConfig()">Salvar configurações</button>
</div>