<div class="col">

  <div class="col row mx-0 mb-2 px-0">
    <button type="button" class="btn btn-outline-danger" (click)="registerCellphoneAction()">Cadastrar celular</button>
  </div>

  <ng-container *ngIf="smartphones && smartphones.length; else smartphonesMessageFallback">
    <h3 class="col m-0 px-0"> Celulares cadastrados </h3>
    <div class="col row m-0 px-0">

      <app-smartphone-item class="col" *ngFor="let smartphone of smartphones" [smartphone]="smartphone"
        (updateSmartphoneList)="getSmartphones()"></app-smartphone-item>
    </div>

    <div class="col" *ngIf="globals.config.configurationJSONExibition.showJSONPreview">
      <h3>Resultado esperado do retorno da API</h3>
      <pre class="json-container">{{smartphones | json}}</pre>
    </div>

  </ng-container>

  <ng-template #smartphonesMessageFallback>
    <p>Não há smartphones cadastrados.</p>
  </ng-template>

</div>