<div class="card m-1">
  <img class="card-img-top mt-1 mx-auto" [src]="smartphone.photo"
    alt="Imagem do celular {{smartphone.brand}} - {{smartphone.model}}">

  <div class="card-body">

    <div class="title-area">
      <h3 class="card-title">
        {{smartphone.brand}} - {{smartphone.model}} - {{convertSmarphoneColors(smartphone.color)}}
      </h3>
    </div>

    <p class="card-text">Código: <small>{{smartphone.id}}</small></p>
    <p class="card-text">Preço: R$: {{smartphone.price}}</p>
    <p class="card-text">
      <span class="d-block">Período de venda:</span>
      <span class="d-block">{{smartphone.startDate}} à {{smartphone.endDate}}</span>
    </p>

    <div class="col row m-auto p-0">
      <div class="btn btn-outline-danger col p-auto m-1" (click)="deleteSmartphone()">Remover</div>
      <div class=" btn btn-outline-danger col p-auto m-1" (click)="editSmartphone()">Editar</div>
    </div>

  </div>


</div>