<div class="content col-12">
  <div class="col-8 column m-auto">

    <h2>{{(smartphone &&smartphone.id) ? 'Edição' : 'Cadastro'}} de smartphone</h2>

    <app-smartphone-form #smartphoneContainerForm [smartphone]="smartphone"></app-smartphone-form>

    <div class="col row m-auto p-0">
      <button class="btn btn-outline-danger col p-auto m-1" (click)="goBack()">
        <span>Voltar</span>
      </button>

      <button class="btn btn-outline-danger col p-auto m-1" (click)="save()"
        [disabled]="smartphoneContainerForm.smartphoneForm && smartphoneContainerForm.smartphoneForm.form.invalid">
        <span>Salvar</span>
      </button>
    </div>

  </div>
</div>