<div class="toolbar" role="banner">
  <img width="50" alt="Angular Logo" src="./../assets/logo_claro.png" />

  <div class="spacer"></div>

  <div class="ml-auto mr-2">
    <button type="button" class="btn btn-outline-dark" (click)="openConfigModal()">Configurações</button>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>