<div class="modal-header animated slideInDow">
  <h4 class="modal-title" i18n>{{(smartphone && smartphone.id) ? 'Edição' : 'Cadastro'}} de smartphone</h4>
  <button type="button" class="close " (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body p-2 mx-2">
  <app-smartphone-form #smartphoneContainerForm [smartphone]="smartphone"></app-smartphone-form>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-danger col" (click)="close()">Cancelar</button>
  <button class="btn btn-outline-danger col" (click)="save()"
    [disabled]="smartphoneContainerForm.smartphoneForm && smartphoneContainerForm.smartphoneForm.form.invalid">
    <span>Salvar</span>
  </button>
</div>